<?xml version='1.0' encoding='utf-8'?>
<plugin id="sunmi.printer" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SunmiPrinter</name>
    <js-module name="SunmiPrinter" src="www/SunmiPrinter.js">
        <clobbers target="cordova.plugins.SunmiPrinter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SunmiPrinter">
                <param name="android-package" value="sunmi.printer.SunmiPrinter" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/SunmiPrinter.java" target-dir="src/sunmi/printer" />
        <source-file src="aidl/android/woyou/aidlservice/jiuiv5/ICallback.aidl" target-dir="woyou/aidlservice/jiuiv5" />
        <source-file src="aidl/android/woyou/aidlservice/jiuiv5/IWoyouService.aidl" target-dir="woyou/aidlservice/jiuiv5" />
        <source-file src="src/android/libs/zxing.jar" target-dir="libs" />
        <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs" />

        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" 
          android:label="@string/activity_name" 
          android:launchMode="singleTask" 
          android:name="MainActivity" 
          android:theme="@android:style/Theme.Holo.Light" 
          android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <uses-permission android:name="android.permission.INTERNET" />
    </platform>
</plugin>