<?xml version='1.0' encoding='utf-8'?>
<plugin id="sunmi.printer" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SunmiPrinter</name>
    <js-module name="SunmiPrinter" src="www/SunmiPrinter.js">
        <clobbers target="cordova.plugins.SunmiPrinter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SunmiPrinter">
                <param name="android-package" value="sunmi.printer.SunmiPrinter" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/SunmiPrinter.java" target-dir="src/sunmi/printer" />
        <source-file src="src/android/ICallback.aidl" target-dir="src/sunmi/printer" />
        <source-file src="src/android/IWoyouService.aidl" target-dir="src/sunmi/printer" />
    </platform>
</plugin>